In [5]:
import lightgbm as lgb
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split, KFold, RandomizedSearchCV
from sklearn.metrics import mean_squared_error, mean_absolute_error
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

import plotly.graph_objects as go
import plotly.express as px

In [14]:
df_ngol = pd.read_csv('./비골목_streamlit용.csv')
df_gol = pd.read_csv('./골목_streamlit용.csv', encoding = 'euc-kr')

# 최종데이터 시각화(개인 스트림릿용)

In [16]:
df_ngol.head().T

,0,1,2,3,4
매출,145014.0061,121841.5766,208337.069,29757.45055,150194.8635
기준_년_코드,2020,2020,2020,2020,2020
상권_구분_코드_명,발달상권,발달상권,발달상권,발달상권,발달상권
상권_코드,2120185,2120186,2120187,2120188,2120190
상권_코드_명,논현역,가로수길,신논현역,압구정역,강남을지병원
점포수,52,30,80,42,33
시간대,1,1,1,1,1
분기,1,1,1,1,1
총 상주인구 수,3692,3386,4994,1137,2273
총 가구 수,2342,1870,3515,583,1327
총_직장인구_수,12764,6518,13076,8579,11703
아파트_단지_수,52,60,59,20,48
아파트_가격_1_억_미만_세대_수,6,0,6,3,5
아파트_가격_1_억_세대_수,305,228,382,56,226
아파트_가격_2_억_세대_수,363,140,176,37,191
아파트_가격_3_억_세대_수,153,83,64,13,43
아파트_가격_4_억_세대_수,42,43,11,14,47
아파트_가격_5_억_세대_수,33,50,73,48,33
아파트_가격_6_억_이상_세대_수,58,63,41,50,2
총_생활인구_수,3095291,2200107,3494446,1750543,1667538
시간대_생활인구_수,555663,336475,563761,179611,253569
월요일_생활인구_수,468291,319598,507889,264138,253215
화요일_생활인구_수,485397,330172,530669,280131,270923
수요일_생활인구_수,473087,327690,523589,267553,260746
목요일_생활인구_수,482062,333065,534676,274690,267364
금요일_생활인구_수,476608,336917,539117,274575,260767
토요일_생활인구_수,376010,294448,466335,216307,191873
일요일_생활인구_수,333836,258219,392172,173149,162648
집객시설_수,164,93,216,359,115
관공서_수,1,3,3,1,0
은행_수,11,4,6,16,4
백화점_수,0,0,0,1,0
숙박_시설_수,17,12,37,7,10
area,321182,256687,382392,251745,295195
연령대_10_생활인구_수,190548,226233,262820,233462,104002
연령대_20_생활인구_수,692947,542769,1042181,314391,368221
연령대_30_생활인구_수,804007,496701,883523,366794,452438
연령대_40_생활인구_수,571729,360498,567520,324388,336448
연령대_50_생활인구_수,360870,227888,343592,216306,181153
연령대_60_이상_생활인구_수,475188,346018,394812,295201,225276
시간대_버스_승하차승객수,7648,15469,2588,45712,21760
시간대_지하철_승하차승객수,30177,0,49000,27505,0
버스정류장_수,3,2,3,6,6
지하철역_수,1,0,1,1,0

## 1. 주중/주말 생활인구 평균
- 분기(2022) 시간대별 주중/주말 생활인구

In [17]:
# 특정상권의 
df_ngol.groupby('시간대')